BASEDIR=~/.koinos

# AMQP_INTERFACE=127.0.0.1
# AMQP_PORT=5672

# AMQP_ADMIN_INTERFACE=127.0.0.1
# AMQP_ADMIN_PORT=15672

# P2P_INTERFACE=0.0.0.0
# P2P_PORT=8888

# JSONRPC_INTERFACE=127.0.0.1
# JSONRPC_PORT=8085

# GRPC_INTERFACE=127.0.0.1
# GRPC_PORT=50051

# COMPOSE_PROFILES=jsonrpc,block_producer

MEMPOOL_TAG=v1.3.0
CHAIN_TAG=v1.3.0
BLOCK_STORE_TAG=v1.1.0
P2P_TAG=v1.1.0
BLOCK_PRODUCER_TAG=v1.2.1
TRANSACTION_STORE_TAG=v1.1.0
CONTRACT_META_STORE_TAG=v1.1.0
JSONRPC_TAG=v1.1.0
GRPC_TAG=v1.1.0
ACCOUNT_HISTORY_TAG=v1.1.0
