BASEDIR=~/.koinos

# AMQP_INTERFACE=127.0.0.1
# JSONRPC_INTERFACE=127.0.0.1
# P2P_INTERFACE=0.0.0.0

# COMPOSE_PROFILES=jsonrpc,block_producer

MEMPOOL_TAG=v1.1.0
CHAIN_TAG=v1.0.3
BLOCK_STORE_TAG=v1.0.0
P2P_TAG=v1.0.0
BLOCK_PRODUCER_TAG=v1.0.2
TRANSACTION_STORE_TAG=v1.0.0
CONTRACT_META_STORE_TAG=v1.0.0
JSONRPC_TAG=v1.0.0
GRPC_TAG=v0.0.1
ACCOUNT_HISTORY_TAG=v1.0.1
